        <div class="row">
            <div class="col-md-3">
                <p class="lead">Movie Name</p>
                <div class="row">
      				<img src="http://placehold.it/180x266" alt="..." >
 				</div>
            </div>
         </div>

          <div class="row top7">
  			<button type="button" class="btn btn-success">  <i class="fa fa-thumbs-up" aria-hidden="true"></i></button>
			<button type="button" class="btn btn-danger"> <i class="fa fa-thumbs-down" aria-hidden="true"></i>
</button>
		</div>


