        <div class="row">
                <p class="lead">{{ctrl.movieTitle}}</p>
                <div class="row">
      				<img src="http://placehold.it/180x266" alt="..." >
 				</div>
            
         </div>

          <div class="row top7">
  			<button type="button" class="btn btn-success" ng-click="ctrl.rateMovie('like')">  <i class="fa fa-thumbs-up" aria-hidden="true"></i></button>
			<button type="button" class="btn btn-danger" ng-click="ctrl.rateMovie('dislike')"> <i class="fa fa-thumbs-down" aria-hidden="true"></i>
</button>
		</div>


